mivins_ros1/build/
mivins_ros1/devel/
mivins_ros1/.catkin_workspace
mivins_ros1/.catkin_tools/

mivins_core/build/
mivins_core/.vscode/
.vscode/

mivins_ros1/src/mivins_core
mivins_ros1/src/mivins_core/include/*.h
mivins_ros1/src/mivins_core/libs/*.so
mivins_ros1/src/mivins_core/libs/*.a
mivins_ros1/src/mivins_core/*.so

thirdparty/build/

mivins_ros2/src/mivins_core
mivins_ros2/src/mivins_core/include/*.h
mivins_ros2/src/mivins_core/libs/*.so
mivins_ros2/src/mivins_core/libs/*.a
mivins_ros2/build/
mivins_ros2/install/
mivins_ros2/log/
